<ion-view >

  <div class="bar bar-header" side="left" ng-controller="BckCtrl">
    <button ng-click="myGoBack()" class="button button-icon icon ion-android-arrow-back" ></button>
    <div class="h1 title">{{"DIRECTION" | translate}}</div>
    <!--<button ng-click="create()" class="button custom-size-icon button-icon icon ion-android-options" style="color: white"></button>-->
  </div>
  <ion-content class="" scroll="false">
    <div id="map-2" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>

