<ion-view cache-view="false" class="tabs-top">
  <div class="bar bar-header" ng-controller="BckCtrl">
    <button ng-click="myGoBack()" class="button button-icon icon ion-android-arrow-back" ></button>
    <div class="h1 title">{{infoDetail.Title | limitTo: 15}}...</div>
    <!--<button ng-click="create()" class="button custom-size-icon button-icon icon ion-android-options" style="color: white"></button>-->
  </div>

  <ion-content style="top: 45px" >
    <div class="list card" >

      <div class="item item-body">
        <div class title="event-title">
          <h2>Title : {{infoDetail.Title}}
          </h2>
        </div>

        <hr>

        <div class="address">
          <p>{{"DATE" | translate}}: {{infoDetail.Date}} </p>
        </div>

        <hr>

        <div class="description">
          <p> Information :<br><br>
            {{infoDetail.Description}}
          </p>
        </div>
      </div>

    </div>

    <div class="kk" style="padding: 30px"></div>

  </ion-content>
</ion-view>
