<ion-view cache-view="false">
  <div class="bar bar-header" side="left" ng-controller="BckCtrl">
    <button ng-click="myGoBack()" class="button button-icon icon ion-android-arrow-back" ></button>
    <div class="h1 title">{{"CAFES" | translate}}</div>

  </div>
  <ion-content>
    <div class="list" ng-repeat="cafes in cafe_has_building" ng-show="cafes.Cafe_building == building_Name">
      <a class="item item-thumbnail-left item-icon-left item-icon-right"
         href="#/tab/buildings/cafes-details/{{cafes.Cafe_name}}">
        <img src="data:image/jpg;base64,{{cafes.Images}}">
        <h2>{{cafes.Cafe_name}}</h2>
        <p>{{"OPENING HOURS" | translate}}: {{cafes.Cafe_opening_hours | date:'HH:MM:' | limitTo:5}} </p>
        <p>{{"CLOSING HOURS" | translate}}: {{cafes.Cafe_closing_hours | date:'HH:MM:' | limitTo:5}} </p>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

     <!--Else for no cafe in the building-->

    <div class="list padding" ng-show="!hasCafe"
         style="text-align:  center; padding-top: 50px">
      <i class="web icon ion-sad-outline" style="font-size: 40px">!
        <h3 style="font-size: 18px">{{"NO CAFE" | translate}}</h3>
      </i>
    </div>

  </ion-content>
</ion-view>
